page-tours {

	.slide-zoom {
		height: 100%;
		overflow-y: scroll;
	}

	p {
		font-size : 14px !important;
		font-weight : bold;
		text-align: justify !important;
		color : #FFF;
	}

	.tour-header {

		vertical-align: center;
		width: 100%; 
		min-height: 70%;
		vertical-align: middle;
		display: block;
		position: relative;
		background-size: cover;

		.arrows {
			.arrow-prev {
				position : absolute;
				left : 5%;
				margin-top : calc(50%);				
				font-size : 50px;
				color : #FFF;						
			}

			.arrow-next {
				position : absolute;
				right : 5%;
				margin-top : calc(50%);
				font-size : 50px;
				color : #FFF;			
			}		
		}

		.tour-title {
			width : 50%;
			padding: 10px 20px;
			position : absolute;
			left : calc(50%/2);
			margin-top : calc(50%);
			font-size : 14px;
			font-weight: bold;
			color : #FFF;	
			border: 3px solid #FFF;
			border-radius :50px;
			background : #000;			
		}

		.fav-heart-icon {
			color : red;
			font-size : 2em;
			margin : 5px 10px;
		}

	}

	.tour-description {
		background : #31B8D0;
	}


}