$main: #a88c5f;
page-signup{
	ion-header{
		.toolbar-background{
			background-color: transparent;
			border: 0 !important;
		}
		ion-buttons{
			ion-icon{
				color: rgba(255, 255, 255, .5);
			}
			&.bar-buttons-md {
				-webkit-order: 1;
				-ms-flex-order: 1;
				order: 1;
			}
		}
	}
	ion-content{
		&.signup{
			background-image: url(../assets/bg2.jpg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: rgba(0, 0, 0, .8);
			}
			div{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				&.logo{
					flex-basis: auto;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 3em 0;
				}
				&.page-content{
					flex-basis: auto;
					padding: 0 5% 15px;
					ion-item,
					.item-inner{
						padding: 0;
					}
					.item-md,
					.item-ios{
						background-color: transparent;
					}
					.item-inner{
						border-bottom-width: 2px;
					}
					.input-has-focus{
						.item-inner{
							border-bottom-color: $main;
							box-shadow: inset 0 0 0 0 transparent;
						}
					}
					button{
						box-shadow: 0;
						border-radius: 3px;
						text-transform: initial;
						&.signin{
							background-color: $main;
							&.fb{
								background-color: #3b5998;
							}
						}
						&.signup{
							background-color: $main;
						}
					}
					.text-input{
						color: #fff;
					}

					p{
						text-align: center;
						color: #fff;
						font-weight: bold;
					}
					.buttons{
						margin-top: 10px;
					}
				}
			}
		}
	}
}